<div class="d-flex flex-wrap">
  <% resorts.each do |resort| %>
  <div class="col-md-6">
    <%= link_to resort_path(resort.id) do %>

      <div class="row mb-5">
        <div class="col-6">
          <% if resort.image.present? %>
            <%= image_tag resort.image, class: "img-fluid" %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: "img-fluid" %>
          <% end %>
        </div>
        <div class="col-6">
          <p class="text-dark"><strong><%= resort.name %></strong></p>
          <p class="text-dark"><strong><%= resort.feature %></strong></p>
          <p class="text-dark"><strong>閲覧数　<%= resort.impressions_count %></strong></p>
        </div>
      </div>

    <% end %>
    </div>
  <% end %>
</div>