<!--<div>-->
<!--  %= render 'genre', genres: @genres %>-->
<!--</div>-->

<div><%= image_tag @resort.image, size: '270x170' %></div>
<div>
  <h3><%= @resort.name %></h3>
  <h5><%= @resort.feature %></h5>
  <div>
    <h4><%= @resort.postal_code %></h4>
    <h4><%= @resort.address %></h4>
  </div>
  

