<%= render '/layouts/errors', obj: @prefecture %>

<div class="text-center mb-5">
  <h3>都道府県一覧・追加</h3>
</div>

<div class="text-center mb-5">
<%= form_with model: [:admin, @prefecture], local: true do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-3 col-form-label">
      <%= f.label :prefecture, "都道府県名" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.submit "新規登録",class: "btn btn-success" %>
    </div>
  </div>
    <% end %>
</div>

<div class="text-center">
<table class="table table-bordered col-md-5 mx-auto">
  <thead class="thead-light">
    <tr>
      <th>都道府県</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @prefectures.each do |prefecture| %>
    <tr>
      <td>
        <%= prefecture.name %>
      </td>
      <td>
        <%= link_to "編集する", edit_admin_prefecture_path(prefecture.id), class: "btn btn-success" %>
        <%= link_to "削除する", admin_prefecture_path(prefecture.id), class: "btn btn-danger", method: :delete, data: {confirm: "削除します。よろしいですか？"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>